html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  width: 260px; }

/*# sourceMappingURL=style.css.map */
